.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;

  hr {
    margin: 10px 0px;
  }

  .title {
    font-size: 12px;
  }

  .list {
    max-height: 150px;
    overflow-y: auto;
  }

  .upgrade {
    font-size: 10px;

    img {
      width: 20px;
      height: 20px;
    }

    .texts {
      display: flex;
      flex-direction: column;

      span:first-child {
        font-weight: 600;
      }

      span:last-child {
        color: #888;
      }
    }
  }

  @media (max-width: 768px) {
    .list {
      max-height: 100px;
    }
  }

  @media (max-width: 480px) {
    .list {
      max-height: 80px;
    }

    .upgrade {
      gap: 5px;
    }
  }
}
